// out: false
.tl-media {
	.tl-media-iframe {
		width: 100%;
		height: 100%;
		iframe {
			width: 100%;
			height: 100%;
			border: none !important;
		}
	}

}

// Mobile, iPhone and skinny (skinny size is 650px, medium is 800px)
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
	.tl-media {
		.tl-media-iframe {
			max-height:100vw!important;
		}

	}
}