html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

a {
    color: inherit !important
}

figure {
    margin: 0
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

}

hr {
    margin: 2rem 0;
    border: 0;
    border-top: 1px solid #aaaaaa;
}


html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

iframe {
    border: none !important;
    width: 100% !important;
}
